<mat-form-field appearance="outline" class="w-full">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="status" (selectionChange)="onStatusChange()">
        <mat-option selected value="IDEA">idea</mat-option>
        <mat-option value="TODO">to do</mat-option>
        <mat-option value="IN_PROGRESS">in progress</mat-option>
        <mat-option value="Done">done</mat-option>
    </mat-select>
</mat-form-field>
<mat-action-list>
    @for (task of tasks(); track task.id) {
    <button mat-list-item [routerLink]="['/tasks/', task.id]">
        {{ task.name }}
    </button>
    <mat-divider></mat-divider>
    }
    @empty {
    <div>No tasks found</div>
    }
</mat-action-list>