<h1 class="h1 mb-3">Task overview</h1>
<h3 class="h3 mb-3">{{ task().name }}</h3>
<form (ngSubmit)="onStatusChange()">
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="status" name="status">
            <mat-option selected value="IDEA">idea</mat-option>
            <mat-option value="TODO">to do</mat-option>
            <mat-option value="IN_PROGRESS">in progress</mat-option>
            <mat-option value="Done">done</mat-option>
        </mat-select>
    </mat-form-field>
    <button type="submit" matButton="outlined">Save changes</button>
</form>