<h3 class="title task__title">Task overview</h3>
<mat-list role="list">
    <mat-list-item role="listitem">Name: {{ task().name }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Status: {{ task().status }}</mat-list-item>
</mat-list>
<h2 class="title task__title">Status</h2>
<form (ngSubmit)="onStatusChange()" class="status-change">
    <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="status" name="status">
            <mat-option selected value="IDEA">idea</mat-option>
            <mat-option value="TODO">to do</mat-option>
            <mat-option value="IN_PROGRESS">in progress</mat-option>
            <mat-option value="Done">done</mat-option>
        </mat-select>
    </mat-form-field>
    <button type="submit" matButton="outlined">Change</button>
</form>