<h1 class="form__title">Register</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="outline" class="form__field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error>
            @if (email?.invalid && (email?.dirty || email?.touched)) {
            @if (email?.errors?.['required']) {
            Name is required
            }
            @if (email?.errors?.['email']) {
            Invalid email
            }
            }
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form__field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
        <mat-error>
            @if (password?.invalid && (password?.dirty || password?.touched)) {
            @if (password?.errors?.['required']) {
            Password is required
            }
            }
        </mat-error>
    </mat-form-field>
    <button type="submit" matButton="filled" class="form__submit">Register</button>
</form>
<div class="links">
    <a routerLink="/login">Already have an acount? Login here</a>
</div>