<h1 class="h1 form__title">New project</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="outline" class="form__field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error>
            @if (name?.invalid && (name?.dirty || name?.touched)) {
            @if (name?.errors?.['required']) {
            Name is required
            }
            @if (name?.errors?.['minlength']) {
            Min 3 charecters
            }
            @if (name?.errors?.['maxLength']) {
            Max 200 characters
            }
            }
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form__field">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="6"></textarea>
        <mat-error>
            @if (description?.invalid && (description?.dirty || description?.touched)) {
            @if (description?.errors?.['maxLength']) {
            Max 1000 characters
            }
            }
        </mat-error>
    </mat-form-field>
    <div class="form__actions">
        <button matButton="filled" class="w-full">Save</button>
        <button matButton="outlined" color="warn" class="w-full" routerLink="/">Cancel</button>
    </div>
</form>