@if(isLoggedIn()) {
<div class="mb-3">
    <app-alert title="You are already logged in">
        <div class="mt-0">
            <button matButton (click)="logout()">logout</button>
            <button matButton routerLink="/">projects dashboard</button>
        </div>
    </app-alert>
</div>
}
<h1 class="form__title">Login</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field appearance="outline" class="form__field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error>
            @if (email?.invalid && (email?.dirty || email?.touched)) {
            @if (email?.errors?.['required']) {
            Email is required
            }
            }
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form__field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
        <mat-error>
            @if (password?.invalid && (password?.dirty || password?.touched)) {
            @if (password?.errors?.['required']) {
            Password is required
            }
            }
        </mat-error>
    </mat-form-field>
    <button type="submit" matButton="filled" class="form__submit">Login</button>
</form>
<div class="links">
    <a routerLink="/register">Don't have an acount? Regsiter here</a>
</div>